.container
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  gap: 2.5rem
  padding: 7rem 0rem
  min-height: 100vh

  h1
    width: 95%
    text-align: center
